html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

ul {
  margin: 0;
  padding:0;
}

.main {
  width: 100%;
  height: 100%;

  .container {
    height: calc(100% - 50px);
    padding: 20px;
    box-sizing: border-box;
  }
}

.header {
  background: #dedede;
  height: 50px;
  line-height: 50px;
  color: rgb(137, 98, 167);
  padding: 0 20px;
  box-sizing: border-box;

  &-tabs {
    list-style-type: none;

    li {
      width: 100px;
      display: inline-block;
    }
  }
}
